<%- include('Layouts/Header') %>
    <link rel="stylesheet" href="stylesheets/Products.css">
</head>
<div id="Heading">
    <p>Cart Items</p>
</div>

<div id="Products">
    <% productsofcart.forEach(card=> { %>
        <div class="card">
            <p id="Offer_Banner">Save 20%</p> 
            <img alt="Product_Image" src="/images/<%=card.image_path %>.png">
            <p id="Product_name">
                <%= card.product_name %>
            </p>
            <p id="Price">
                Rs. : <%= card.price %> /- <span> Rs. : <%= Math.round(card.price*(10/8))%> </span>
            </p>
            <form action="/removefromcart" method="post">
                <button id="ADD_TO_CART_BUTTON" type="submit" name="productid" value="<%=card.product_id%>">Remove from Cart</button>
            </form>
        </div>
        
        <% }) %>
    </div>
    <a id="Payment" href="/payment">Payment</a>
<%- include('Layouts/Footer') %>